:root {
  /* ### Primary */

  --Strongcyan: hsl(172, 67%, 45%);

  /* ### Neutral */

  --Verydarkcyan: hsl(183, 100%, 15%);
  --Darkgrayishcyan: hsl(186, 14%, 43%);
  --Grayishcyan: hsl(184, 14%, 56%);
  --Lightgrayishcyan: hsl(185, 41%, 84%);
  --Verylightgrayishcyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Space Mono", monospace;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
body {
  background-color: beige;
}
.flex {
    display: flex;
}
form input {
  font-size: 24px;
}
form {
  position: relative;
  margin-top: 2rem;
}
header {
  background-color: var(--Lightgrayishcyan);
  text-align: center;
  padding: 1.6rem 0;
  letter-spacing: 0.35rem;
}
header h1 {
  font-size: 1.6rem;
}
header p {
  font-size: 1.6rem;
}
main {
  padding: 1.8rem;
  background-color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
input {
  width: 18.6rem;
  border-radius: 0.3rem;
  padding: 0.3rem;
  margin-bottom: 1.4rem;
  background-color: var(--Verylightgrayishcyan);
  direction: rtl;
  color: var(--Verydarkcyan);
/* position: relative; */
}

input:hover {
   cursor: pointer;
}
input[type=radio]:checked {
  box-shadow:blue 0px 0px 0px 5px;
  background-color: var(--Strongcyan);
  color: var(--Verydarkcyan); 
}
label {
  color:white;
  position: absolute;
  left: 3.6rem;
  top:0.5rem;
  font-size: 1.4rem;
}
label:hover {
  cursor: pointer;
}
#img-input1 {
  position: absolute;
  left: 1.4rem;
  top: 21.7rem;
}
#img-input2 {
  position: absolute;
  left: 1.4rem;
  top: 1rem;
}
#card-itself {
  margin: 5rem auto;
  width: 23rem;
  background-color: var(--Lightgrayishcyan);

}
input[type="radio"] {
    appearance: none;
    background-color:var(--Verydarkcyan);
    margin: 0;
    font: inherit;
    width: 9rem;
    height: 3rem;
    border-radius: 0.4rem;
}
input[type="radio"]:hover {
   cursor: pointer;
}
#custom-move{
position: absolute;
left: 2rem;
color: var(--Verydarkcyan);
}
.title-color {
  color: var(--Darkgrayishcyan)
}
form p:nth-of-type(1) {
    margin-bottom:0.8rem;
}
.hold-tip {
    margin-bottom: 0.6rem;
} 
.hold-input {
    position: relative;
    margin-right: 1.2rem;;
}
form #bill {
position: absolute;
top: -2rem;
left: 0.3rem;
font-size: 1rem;
}

.hold-input p {
  color: var(--Verydarkcyan);
    color: white;
    position: absolute;
    top: 0.46rem;
    left: 3.5rem;
    font-size: 1.4rem;
}
.hold-input p:hover {
cursor: pointer;
}

#dif-input {
  background-color: var(--Verylightgrayishcyan);
  width: 8.35rem;
}
#dif-input::placeholder {
  color: var(--Verydarkcyan);
  padding-right: 1.45rem;

}

#hold-people {
    float: lef;
}
#hold-totals {
  padding: 2rem 1.5rem;
  background-color: var(--Verydarkcyan);
  position: relative;
  border-radius: 1rem;
}
#hold-totals span {
  left: 11.5rem;
  position: absolute;
  font-size: 1.8rem;
}


.attribution {
  font-size: 11.1px;
  text-align: center;

  background-color: beige;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
#hold-people #ppl {
left: 1rem;
}
.hold-total {
  margin-bottom: 1rem;
}
.hold-total p {
  color:var(--Darkgrayishcyan);
  font-size: 0.8rem;
}
.hold-total h2 {
  color:white;
}
.hold-total span {
  color: var(--Strongcyan);
}
button {
  background-color: var(--Strongcyan);
  margin-top: 1rem;
  width: 100%;
  padding: 0.6rem;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  color: var(--Verydarkcyan)
}
button:hover {
  cursor: pointer;
  background-color: var(--Lightgrayishcyan);
}
#hold-totals .hold-total:first-of-type span {
  padding-left: 0.3rem;

}
.hold-tip .hold-input {
  color:red;
}
#number-people {
  position: absolute;
  top: 19rem;
  font-size: 1rem;
  left: 0.3rem;
}




/* ///////////////////////////////////////////////////////////////////////////// */





/* // colocar 1440 quando acabar */
@media screen and (min-width: 940px) {
  body {
   background-color: var(--Lightgrayishcyan);
  }

  form {
    position: relative;
    margin-top: 2rem;
  }

  header h1 {
    font-size: 1.6rem;
  }
  header p {
    font-size: 1.6rem;
  }
  main {
 display: flex;
 border-radius: 1rem;
  }
span {
  margin-left: 9.8rem;
}input{
width: 29rem;
}
input[type="number"] {
 
}
#card-itself {
    margin: 5rem auto;
    width: 64rem;
   
    /* background-color: var(--Lightgrayishcyan); */
  
  }#img-input1 {
    position: absolute;
    left: 1.4rem;
    top: 1rem;
  }
  #img-input2 {
    position: absolute;
   
    left: 1.4rem;
    top: 18.9rem;
  }

  #custom-move{
  position: absolute;
  left: 2rem;
  color: var(--Verydarkcyan);
  }
  .title-color {
    color: var(--Darkgrayishcyan)
  }
  form p:nth-of-type(1) {
      margin-bottom:0.8rem;
  }
  .hold-tip {
      margin-bottom: 0.6rem;
  } 
  .hold-input {
      position: relative;
      margin-right: 1.2rem;;
  }
  form #bill {
  position: absolute;
  top: -2rem;
  left: 0.3rem;
  font-size: 1rem;
  }
  
  .hold-input p {
    color: var(--Verydarkcyan);
      color: white;
      position: absolute;
      top: 0.46rem;
      left: 3.5rem;
      font-size: 1.4rem;
  }
  .hold-input p:hover {
  cursor: pointer;
  }
  
  #dif-input {
    background-color: var(--Verylightgrayishcyan);
    width: 8.35rem;
    top: -3.9rem;
    left: -10.2rem;
    position: absolute;

  }
  #dif-input::placeholder {
    color: var(--Verydarkcyan);
    padding-right: 1.45rem;
  
  }
  
  #hold-people {
      margin-top: 2rem;
  }
  #hold-totals {
    width: 26rem;
    background-color: var(--Verydarkcyan);
    position: relative;
    border-radius: 1rem;
    height: 20rem;
    
  }
  .hold-total {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  #hold-totals span {
    left: 11.5rem;
    position: absolute;
    font-size: 1.8rem;
    
  }
  
  
  .attribution {
    font-size: 11.1px;
    text-align: center;
  
    background-color: beige;
  }
  
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  #hold-people #ppl {
  left: 1rem;
  }
  .hold-total {
    margin-bottom: 1rem;
  }
  .hold-total p {
    color:var(--Darkgrayishcyan);
    font-size: 0.8rem;
    margin-bottom: 2.2rem;
  }
  .hold-total h2 {
    color:white;
  }
  .hold-total span {
    color: var(--Strongcyan);
  }
  button {
    background-color: var(--Strongcyan);

    width: 100%;
    padding: 0.6rem;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    color: var(--Verydarkcyan);
    margin-top: 6rem;
  }
  button:hover {
    cursor: pointer;
    background-color: var(--Lightgrayishcyan);
  }
  #hold-totals .hold-total:first-of-type span {
    padding-left: 0.3rem;
  
  }
  .hold-tip .hold-input {
    color:red;
  }
  #number-people {
    position: absolute;
    top: 16rem;
    font-size: 1rem;
    left: 0.3rem;
  }
  #hold-holders {
display: flex;
  }
}

